.resizableDiv {
  position: relative;
  top: 0;
  width: 0;
  height: 0;
  border-width: 3px;
  @apply bg-red-100;
  box-sizing: content-box;
}

.hideHandles > div {
  display: none;
  border: none;
}

.resizableDiv > div {
  position: absolute;
  @apply bg-rose-500;
  width: 50px;
  height: 4px;
  border-radius: 30px;
  cursor: pointer;
}

.topHandle {
  top: -5px;
  left: calc(50% - 25px);
}

.leftHandle {
  transform: rotate(90deg);
  top: calc(50%);
  left: -29px;
}

.rightHandle {
  transform: rotate(90deg);
  top: calc(50%);
  right: -29px;
}

.bottomHandle {
  bottom: -5px;
  left: calc(50% - 25px);
}

.imageToEdit {
  user-select: none;
  position: fixed;
  left: calc(50% - 8rem);
}
